<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header">
    <div class="topnav">
    <a th:href="@{/}"><h1>My Shop</h1></a>
    <hr>

    <a th:href="@{/only-available}">
        <button>ONLY AVAILABLE</button>
    </a>
    <a th:href="@{/cheapest-first}">
        <button>CHEAPEST FIRST</button>
    </a>
    <a th:href="@{/contains-nike}">
        <button>CONTAINS NIKE</button>
    </a>
    <a th:href="@{/average-stock}">
        <button>AVERAGE STOCK</button>
    </a>
    <a th:href="@{/most-expensive}">
        <button>MOST EXPENSIVE AVAILABLE</button>
    </a>
    </div>
    <form action="/search" method="post">
        <label class="searchText" for="search">Search for:</label>
        <br>
        <input class="search" id="search" name="search" placeholder="...something like nike">
        <button id="searchButton" type="submit">Search</button>
    </form>
</div>

</html>