<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Webshop</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="main-container">
<header>
    <div th:replace="fragments/header::header"></div>
</header>

<table>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity<br>of stock</th>
    </tr>
    <tr th:each="item : ${shopItems}">
        <td th:text="${item.name}">
        <td th:text="${item.type}">
        <td th:text="${item.description}">
        <td th:text="${item.getFormattedPrice()}">
        <td th:text="${item.quantityOfStock}">
    </tr>
</table>
</div>
</body>
</html>