<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Programmer Fox Club</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>


<a th:href="@{/}">
    <button>INFORMATION</button>
</a>
<a th:href="@{/login}">
    <button>LOGIN</button>
</a>
<a th:href="@{/nutrition-store}">
    <button>NUTRITION STORE</button>
</a>
<a th:href="@{/trick-center}">
    <button>TRICK CENTER</button>
</a>
<a th:href="@{/action-history}">
    <button>ACTION HISTORY</button>
</a>

<img src="image/greenfox.png">

<p th:text="'This is ' + ${name} + '. Currently living on ' + ${food} + ' and ' + ${drink} + ' . He knows ' + ${trickNumber} + ' tricks.'"</p>

<h1>Known tricks</h1>
<table>
    <tr th:each="trick : ${actualTricks}">
<p th:if="${actualTricks.size == 0}">You know no tricks, yet. Go learn some.</p>
    <td th:text="${trick}">
    </tr>
</table>
<!--<select name="tricks" id="tricks">-->
<!--    <option th:text="${tricks}" th:value="${tricks}" th:each="tricks: ${trickList}">-->
<!--</select>-->

<!--<table>-->
<!--    <tr>-->
<!--        <th>All the tricks:</th>-->
<!--    </tr>-->
<!--    <tr th:each="trick : ${trickList}">-->
<!--        <td th:text="${trick}">-->
<!--    </tr>-->
<!--</table>-->

<div class="foxList">
    <table>
        <tr>
            <th>Registered foxes:</th>
        </tr>
        <tr th:each="fox : ${foxList}">
            <td th:text="${fox.getName}">
        </tr>
    </table>


</div>

</body>
</html>