<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<h1>Bank of Simba</h1>
<br>
Animal name: <span th:text="${name}"/>
<br>
Balance: <span th:text="${balance}"/>
<br>
Animal type: <span th:text="${animalType}"/>

<table>
    <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Type</th>

    </tr>
    <tr th:style="'color:' + ${account.getStyle}" th:each="account: ${account}">
        <td th:text="${accountStat.index}"/>
        <td th:text="${account.name}"/>
        <td th:text="${account.getFormattedBalance}"/>
        <td th:text="${account.animalType}"/>


    </tr>

    </tr>
    <tr th:class="${account.getStyle}" th:each="account: ${account}">
        <td th:text="${accountStat.index}"/>
        <td th:text="${account.name}"/>
        <td th:text="${account.getFormattedBalance}"/>
        <td th:text="${account.animalType}"/>



    </tr>
</table>
</body>
</html>