body {
  background-color: #00bfff;
}
table {
  border-style: hidden;
  border-radius: 5px;
  overflow: hidden;
  width: 600px;
}

table,
th,
td {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 10px 200px 10px 10px;
}

th,
td {
  padding: 10px;
}

tr:nth-child(even) {
  font-size: 20px;
  background-color: #ddd;
}

tr:nth-child(odd) {
  font-size: 20px;
  background-color: #fff;
}

th {
  text-emphasis-color: white;
  background-color: black;
  color: gray;
  text-align: left;
  border-bottom: 5px solid gray;
}
